<%#= 後ほどフラッシュメッセージを記述を追加する %>
<%#=%>
<h1>一覧：Books</h1>
<%= link_to "トップページに戻る", root_path %>
<p>タイトル</p>
<P>説明</P>
<%#= 後ほどリンクを作成する %>
<%#= link_to "詳細", book_path(book.id) %>
<%#= link_to "編集", edit_book_path(book.id) %>
<%#= link_to "削除", book_path(book.id) %>
<h2>新規投稿フォーム</h2>
<%#= 後ほどバリデーションの記述を追加する %>
<%#=%>
<p>タイトル</p>
<p>説明</p>
<p>投稿する</p>