<h1>Books</h1>
<p>Title</p>
<P>Body</P>
<%#= 後ほどリンクを作成する %>
<%#= link_to "show", book_path(book.id) %>
<%#= link_to "edit", edit_book_path(book.id) %>
<%#= link_to "dectory", book_path(book.id) %>
<h4>New book</h4>